* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header */
header {
  background-color: yellow;
  position: fixed;
  z-index: 99;
  width: 100%;
}
/*navigation*/
nav {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  display: none;
}
#nav-toggle:checked ~ nav {
  display: block;
}
/*main*/
main {
  background-color: red;
}
#home {
  background-color: lightsalmon;
}
#about {
  background-color: aqua;
}
#beneficial {
  background-color: red;
}
#sign-up {
  background-color: burlywood;
}
/*footer*/
footer {
  background-color: lightgreen;
}
