:root {
  --main-font: "Gloria Hallelujah", cursive;
  --text-font: "Noto Sans Gujarati", sans-serif;
  --light-blue: #daf1f3;
  --brown: #a67b73;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--text-font);
}
/* header */
header {
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 3px 10px 24px rgba(0, 0, 0, 0.3);
  background-color: #daf1f3;
  border-bottom: 2px solid #a67b73;
}
#logo {
  font-family: var(--main-font);
}
/*navigation*/
nav {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 100%;
  display: none;
  background-color: #daf1f3;
  border-bottom: 2px solid #a67b73;
}

#nav-toggle {
  display: none;
}
#nav-toggle:checked ~ nav {
  display: block;
}
/*main*/
main {
  background-color: red;
  margin-top: 63px;
}
#home {
  background: url(../images/pexels-lucas-pezeta-2529375.jpg) no-repeat center
    center / cover;
  height: 30em;
}
#about {
  background-color: aqua;
}
#beneficial {
  background-color: red;
}
#sign-up {
  background-color: burlywood;
}
/*footer*/
footer {
  background-color: lightgreen;
}
