:root {
  --main-font: "Gloria Hallelujah", cursive;
  --text-font: "Noto Sans Gujarati", sans-serif;
  --light-blue: #bdd6df;
  --brown: #99774a;
  --almost-white: #d1d3d6;
  --light-yellow: #e9dcc0;
  --border: 2px solid #99774a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*general*/
body {
  font-family: var(--text-font);
  font-size: 16px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 21px;
}
h3,
input[type="submit"] {
  font-size: 18px;
}

/* header */
header {
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
}
#logo {
  font-family: var(--main-font);
  text-transform: uppercase;
}
#logo > i,
#about i,
#sign-up i,
.footer-logo i {
  color: var(--brown);
  font-style: italic;
}
/*navigation*/
nav {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 100%;
  background-color: var(--light-blue);
  border-bottom: var(--border);
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: var(--brown);
  text-decoration: none;
  font-weight: bold;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 2px 0px;
}
/*main*/
main {
  margin-top: 64px;
}
#home {
  background: var(--light-blue)
    url(../images/akemy-mory-LaKVSiT4rR8-unsplash-min.webp) no-repeat center
    center / cover;
  height: 30em;
  border-bottom: var(--border);
}
#home > div {
  z-index: 70;
  text-align: center;
  width: fit-content;
  padding: 50px 15px;
  position: relative;
  top: 20%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  color: var(--almost-white);
  border: var(--border);
  border-radius: 20%;
  box-shadow: 0px 0px 20px 3px rgba(189, 214, 223, 1);
}
#home > div h1 {
  color: var(--light-yellow);
  font-family: var(--main-font);
}
#home > div h2 {
  margin-top: 10px;
}
#about {
  background-color: #ffffff;
  padding-top: 64px;
}
.about-paragraph {
  margin: 3rem auto;
  border: var(--border);
  max-width: 80%;
  border-radius: 20%;
  line-height: 30px;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0px 0px 33px 23px rgba(189, 214, 223, 1);
}
.about-paragraph > h3 {
  margin-bottom: 1rem;
  font-style: italic;
}
.about-paragraph > ul {
  list-style-type: circle;
  margin-left: 1rem;
  text-align: start;
}
#about-image {
  padding: 0px;
  display: block;
  text-align: center;
  max-width: 100%;
  margin: 89px auto;
  border-bottom: var(--border);
  border-top: var(--border);
}
/*sign up form*/
#sign-up {
  padding: 69.33px 0px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  box-shadow: 0px 0px 33px 23px rgba(153, 119, 74, 0.3);
  border-radius: 20%;
}
#sign-up > h3 {
  font-style: italic;
}
#sign-up > p {
  margin: 20px 0px;
  font-style: italic;
}
#sign-up label,
#sign-up input {
  margin: 10px;
}

#sign-up label {
  font-weight: bold;
}
#sign-up input {
  border: var(--border);
}
#sign-up input:hover {
  border: 2px solid #bdd6df;
}
#sign-up input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 33px 23px rgba(153, 119, 74, 0.3);
  border-radius: 20%;
  padding: 20px;
  font-family: var(--main-font);
}
#sign-up input[type="submit"]:hover {
  box-shadow: 0px 0px 33px 23px rgba(189, 214, 223, 1);
  cursor: pointer;
}
#sign-up i {
  font-size: 18px;
  padding: 20px;
}
/*footer*/
footer {
  border-top: var(--border);
  margin-top: 89px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--light-blue);
}
footer > h3,
footer > p {
  padding: 10px 30px 20px 10px;
}
footer > h3,
footer span {
  font-style: italic;
}
#social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px 30px 0px;
  font-size: 20px;
  border: var(--border);
  border-radius: 20%;
  padding: 20px;
}
#social-media-icons a {
  color: black;
}
#social-media-icons a:hover {
  color: var(--brown);
}
.footer-logo {
  display: none;
}
/*media query for tablets=<  */
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3,
  input[type="submit"],
  #social-media-icons,
  nav a,
  #sign-up i {
    font-size: 23px;
  }

  main {
    margin-top: 89px;
  }
  #home {
    background: var(--light-blue)
      url(../images/akemy-mory-LaKVSiT4rR8-unsplash_1.webp) no-repeat center
      center / cover;
    height: 30em;
    border-bottom: var(--border);
  }
  #home > div {
    letter-spacing: 2px;
  }
  .about-paragraph {
    width: auto;
  }
  #benefical {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 1;
  }
  #when-should-apply,
  #benefits {
    box-shadow: none;
  }
  #sign-up {
    margin-top: 75px;
  }
  #sign-up input[type="text"],
  #sign-up input[type="email"] {
    width: 50%;
    height: 25px;
  }
  .footer-logo {
    display: block;
  }
  #social-media-icons {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
  }
}

/*media query for laptops=< */
@media screen and (min-width: 992px) {
  header {
    border-bottom: 2px solid var(--brown);
  }
  nav {
    position: static;
    padding: 0.5rem 1rem;
    border-bottom: none;
    padding-top: 20px;
  }
  #menu {
    padding: 0;
  }
  #logo {
    flex-shrink: 0;
  }
  main {
    margin-top: 59px;
  }
  #about-image {
    max-width: 60%;
    border: var(--border);
    border-radius: 20%;
    box-shadow: 0px 0px 33px 23px rgba(189, 214, 223, 1);
  }
  .about-paragraph {
    border: 3px solid #99774a;
  }
}
@media screen and (min-width: 1024px) {
  #home {
    background-position: 0% 30%;
    height: 34em;
  }
}
@media screen and (min-width: 1200px) {
  #home {
    height: 37em;
  }
}
